{{/*
  Page Transformer

  @author @regisphilibert

  @context Page (.)

  @access public

  @return Map
      - ...transformers/default
      - menu: String
      - Description: String
*/}}

{{/* We use local Scratch in order to conveniently manipulate our map before returning it. */}}
{{ $s := newScratch }}

{{/*  Each custom transformers can use "juliette/transformers/default" as a base of key/value pairs. 
      Let's create our a map and store the default transformer's data. */}}
{{ $s.Set "item" (partial "juliette/transformers/default" .) }}

{{/* 
  Now we can use Scratch's .SetInMap to add key/value pairs to our local Scratch's "item" map.  */}}

{{/* Menu */}}
  {{ $s.SetInMap "item" "weight" .Weight }}

{{/* Description */}}
{{ with .Description }}
  {{ $s.SetInMap "item" "description" . }}
{{ end }}

{{/*  Finally, we return the map. 
      Voilà! */}}
{{ return $s.Get "item" }}