{{/*
  Page Transformer

  @author @regisphilibert

  @context Page (.)

  @access public

  @example - Go Template
    {{ partial"transformers/default" . }}
*/}}

{{ $return := newScratch }}
{{/*  Each custom transformers can use "juliette/transformers/default" as a base of key/values 
      As getTransformer is already cached by .File.UniqueID, we don't need to use partialCached when getting the default data. */}}
{{ $return.Set "item" (partial "juliette/transformers/default" .) }}

{{/* Each subsequent extra field must be added to the local scratch stored in the $return variable  */}}
{{ $return.SetInMap "item" "menu" (default dict .Params.menu) }}
{{ with .Description }}
  {{ $return.SetInMap "item" "description" . }}
{{ end }}

{{ return $return.Get "item" }}