{{/*
  formatURL

  @author @regisphilibert

  @context Map (.)
    - Page .page
    - String .url

  @access public

  @example - Go Template
    {{ $output_url = partial "juliette/formatURL" (dict "page" $ "url" .RelPermalink) }}
    {{ $output_url = partialCached "juliette/formatURL" (dict "page" $ "url" .RelPermalink) .File.UniqueID .RelPermalink}}
*/}}

{{- $slug := "" -}}
{{- $beautify := false -}}

{{- if not site.IsServer -}}
	{{- with .page.Param "juliette.slug" -}}
		{{- $slug = . -}}
	{{- end -}}
	{{- with .page.Param "juliette.beautify" -}}
		{{- $beautify = true -}}
	{{- end -}}
{{- end -}}

{{- $url := .url -}}

{{- with $slug -}}
	{{- $urlObject := urls.Parse $url -}}
	{{- $url = replace ($url | absURL) $urlObject.Path (printf (cond (ne $slug "") "/%s%s" "%s%s") $slug $urlObject.Path) -}}
{{- end -}}
{{- with $beautify -}}
	{{- $url = strings.TrimRight "index.json" $url -}}
{{- end -}}

{{ return ($url) }}