{{- $params := dict -}}
{{- $slug := false -}}
{{- $beautify := false -}}
{{- $paginatePath := "page" -}}
{{- $urlObject := urls.Parse .url -}}
{{- $site := .page.Site -}}
{{- $format := "json" -}}
{{- with .format -}}
	{{- $format = . -}}
{{- end -}}
{{- with $site.Params.juliette -}}
	{{- $params = . -}}
{{- end -}}
{{- with $params.slug -}}
{{- $slug = . -}}
{{- end -}}
{{- with $params.beautify -}}
{{- $beautify = . -}}
{{- end -}}
{{- $url := .page.RelPermalink -}}
{{- with $format -}}
	{{- with $.page.OutputFormats.Get . -}}
		{{- $url = .RelPermalink -}}
	{{- end -}}
{{- end -}}
{{- with .url -}}
{{- $url = strings.TrimLeft $site.BaseURL . -}}
{{- end -}}
{{- with $slug -}}
{{- $url = printf "%s%s" . $urlObject.Path -}}
{{- end -}}
{{- printf "%s%s" $site.BaseURL $url -}}