{{- .Scratch.Set "items" slice -}}
{{- with (.Param "juliette.pagination") -}}
	{{- $pagi := $.Paginator . -}}
	{{- $.Scratch.Set "pages" $pagi.Pages -}}
	{{- $.Scratch.SetInMap "pagination" "page" $pagi.PageNumber -}}
	{{- $.Scratch.SetInMap "pagination" "pages" $pagi.TotalPages -}}
	{{- $.Scratch.SetInMap "pagination" "self" (partial "formatURL.tmpl" (dict "page" $ "url" $pagi.URL)) -}}
	{{- $.Scratch.SetInMap "pagination" "first" (partial "formatURL.tmpl" (dict "page" $ "url" $pagi.First.URL)) -}}
	{{- $.Scratch.SetInMap "pagination" "last" (partial "formatURL.tmpl" (dict "page" $ "url" $pagi.Last.URL)) -}}
	{{- $.Scratch.SetInMap "pagination" "test" $pagi.Last.URL -}}
	{{- if $pagi.HasNext -}}
	{{- $.Scratch.SetInMap "pagination" "next" (partial "formatURL.tmpl" (dict "page" $ "url" $pagi.Next.URL)) -}}
	{{- end -}}
	{{- if $pagi.HasPrev -}}
	{{- $.Scratch.SetInMap "pagination" "prev" (partial "formatURL.tmpl" (dict "page" $ "url" $pagi.Prev.URL)) -}}
	{{ end }}
	{{- $.Scratch.SetInMap "data" "pagination" ($.Scratch.Get "pagination") -}}
{{- else -}}
	{{- $.Scratch.Set "pages" .Pages -}}
{{ end }}
{{- range (.Scratch.Get "pages") -}}
	{{ partial "getTransformer.tmpl" . }}
	{{- $.Scratch.Add "items" (slice (.Scratch.Get "item")) -}}
{{- end -}}
{{- with eq .Kind "section" -}}
{{- $.Scratch.SetInMap "data" "section" $.Section -}}
{{- end -}}
{{ with eq .Kind "taxonomy" -}}
{{- $.Scratch.SetInMap "data" "taxonomy" $.Data.Singular -}}
{{- $.Scratch.SetInMap "data" "term" $.Data.Term -}}
{{- end -}}
{{- .Scratch.SetInMap "data" "count" (len .Pages) -}}
{{- .Scratch.SetInMap "data" "items" (.Scratch.Get "items") -}}
{{- .Scratch.SetInMap "output" "data" (.Scratch.Get "data") -}}