{{- /* Each custom transformers can use "transformers/default" as a base of key/values */ -}}
{{- partial "transformers/default.tmpl" . -}}
{{- /* Each subsequent extra field must be added to `.Sracth.SetInMap`:  */ -}}
{{- .Scratch.SetInMap "item" "menu" (default dict .Params.menu) -}}